*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(20, 20, 20);
  color: white;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

nav {
  display: flex;
  gap: 2em;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover p {
  display: none;
}

.nav-item::before {
  content: "";
  transform: translate(-20px);
}

.nav-item:hover::before {
  content: "Home";

  display: inline-block;
  transform: translate(0px);
  transition: transform 1s ease-in-out;
}

.home:hover::before {
  content: "Home";
}

.search:hover::before {
  content: "Search";
}

.stats:hover::before {
  content: "Stats";
}

.profile:hover::before {
  content: "Profile";
}
