*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(20, 20, 20);
  color: white;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

nav {
  display: flex;
  gap: 1em;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover p {
  display: none;
}

.home:hover::before {
  content: "Home";

  transform: translate(20px);
  transform: 1.5s;
}

.search:hover::before {
  content: "Search";

  transform: translate(20px);
  transform: 1.5s;
}

.stats:hover::before {
  content: "Stats";

  transform: translate(20px);
  transform: 1.5s;
}

.profile:hover::before {
  content: "Profile";

  transform: translate(20px);
  transform: 1.5s;
}
