*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.hand {
  width: 5px;
  height: 100px;
  background: gray;
  transform-origin: bottom;
  animation: secondsMotion 60s steps(60) infinite;
}

@keyframes secondsMotion {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes;
