*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgb(10, 10, 10);
}

.second-hand {
  width: 2px;
  height: 50%;
  position: absolute;
  left: 50%;
  background: rgba(255, 0, 0, 0.438);
  transform-origin: bottom;
  animation: motion 60s steps(60) infinite;
}

.minute-hand {
  width: 3px;
  height: 45%;
  top: 5%;
  left: 50%;
  position: absolute;
  background: gray;
  transform-origin: bottom;
  animation: motion 3600s infinite linear;
}

.hour-hand {
  width: 3px;
  height: 40%;
  top: 10%;
  left: 50%;
  position: absolute;
  background: black;
  transform-origin: bottom;
  animation: motion infinite 43200s linear;
}

.clock {
  height: 300px;
  position: relative;
  width: 300px;
  background: white;
  border: 1px solid grey;
  border-radius: 50%;
}

@keyframes motion {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bullet {
  width: 10px;
  height: 10px;
  background: brown;
  position: absolute;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
