*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  background: rgb(248, 236, 236);
  text-transform: capitalize;
  padding-inline: 2em;
  padding-block-start: 1em;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  cursor: pointer;
}

.tab:hover {
  opacity: 0.5;
  color: white;
}

a:active {
  background: black;
}
