*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: grey;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  background: white;
  text-transform: capitalize;
  padding-inline: 2em;
  padding-block-start: 1em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
